<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form id="login-form" action="/api/users/login" method="POST">
            <div>
                <label for="username-input" class="form-label">Username</label>
                <input type="input" class="form-control" id="username-input">
            </div>
            <div>
               <label for="password-input" class="form-label">Password</label>
			    <input type="password" id="password-input" class="form-control">
            </div>
           <button id="login" type="button" class="btn btn-primary btn-lg">Log In</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </main>
</body>
</html>
